/* reset styles - DON'T TOUCH !*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  background-image: url("https://images.pexels.com/photos/8202947/pexels-photo-8202947.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 50%;
  margin: 0 auto;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*
    10. Create a root font size to 10 pixels
  */
html {
  font-size: 1rem;
}

/* _____________________________________________________MEDIA_QUERY_________________________________________________ */

/* portrait mobile */
@media (max-width: 479px) and (orientation: portrait) {
  body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  nav {
    text-transform: capitalize;
  }

  .d-flex {
    padding-block: 10px;
  }

  .homeCon {
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  .con {
    text-align: center;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    place-content: center;
    margin-top: 4rem;
  }

  .hidden {
    display: none;
  }

  .title_div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title_div > h1 {
    margin-top: 6rem;
    font-weight: 700;
    width: 80%;
    font-size: 25px;
  }

  .title_div > p {
    font-size: x-large;
    font-weight: 500;
    margin-top: 2rem;
    width: 80%;
    font-size: 20px;
  }

  .savedJob_p {
    margin-top: 6em;
  }

  .time_div {
    color: whitesmoke;
    width: fit-content;
    margin: 0 auto;
    font-size: 0.85em;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  }

  .card {
    width: 85%;
    margin-top: 1rem;
    padding: 1em;
    gap: 1rem;
  }

  .cardDes {
    overflow-y: scroll;
  }

  .cardDes::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .cardDes::-webkit-scrollbar-thumb {
    background: #145af2;
    border-radius: 4px;
  }

  .cardDes::-webkit-scrollbar-thumb:hover {
    background: #a71d31;
  }

  .buttonsDiv {
    display: flex;
    margin-block: 2rem;
    width: 100%;
  }

  .buttonsDiv > a {
    text-transform: capitalize;
    padding-inline: 1em;
    width: 50%;
    margin-inline: 0.5rem;
  }

  /* loader */
  .boxes {
    --size: 26px;
    --duration: 800ms;
    height: calc(var(--size) * 2);
    width: calc(var(--size) * 3);
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    margin-top: calc(var(--size) * 1.5 * -1);
    transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
    margin-top: 15rem;
    place-items: center;
  }

  .boxes .box {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
  }

  .boxes .box:nth-child(1) {
    transform: translate(100%, 0);
    -webkit-animation: box1 var(--duration) linear infinite;
    animation: box1 var(--duration) linear infinite;
  }

  .boxes .box:nth-child(2) {
    transform: translate(0, 100%);
    -webkit-animation: box2 var(--duration) linear infinite;
    animation: box2 var(--duration) linear infinite;
  }

  .boxes .box:nth-child(3) {
    transform: translate(100%, 100%);
    -webkit-animation: box3 var(--duration) linear infinite;
    animation: box3 var(--duration) linear infinite;
  }

  .boxes .box:nth-child(4) {
    transform: translate(200%, 0);
    -webkit-animation: box4 var(--duration) linear infinite;
    animation: box4 var(--duration) linear infinite;
  }

  .boxes .box > div {
    --background: #5c8df6;
    --top: auto;
    --right: auto;
    --bottom: auto;
    --left: auto;
    --translateZ: calc(var(--size) / 2);
    --rotateY: 0deg;
    --rotateX: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    top: var(--top);
    right: var(--right);
    bottom: var(--bottom);
    left: var(--left);
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
      translateZ(var(--translateZ));
  }

  .boxes .box > div:nth-child(1) {
    --top: 0;
    --left: 0;
  }

  .boxes .box > div:nth-child(2) {
    --background: #145af2;
    --right: 0;
    --rotateY: 90deg;
  }

  .boxes .box > div:nth-child(3) {
    --background: #447cf5;
    --rotateX: -90deg;
  }

  .boxes .box > div:nth-child(4) {
    --background: #dbe3f4;
    --top: 0;
    --left: 0;
    --translateZ: calc(var(--size) * 3 * -1);
  }

  @-webkit-keyframes box1 {
    0%,
    50% {
      transform: translate(100%, 0);
    }

    100% {
      transform: translate(200%, 0);
    }
  }

  @keyframes box1 {
    0%,
    50% {
      transform: translate(100%, 0);
    }

    100% {
      transform: translate(200%, 0);
    }
  }

  @-webkit-keyframes box2 {
    0% {
      transform: translate(0, 100%);
    }

    50% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(100%, 0);
    }
  }

  @keyframes box2 {
    0% {
      transform: translate(0, 100%);
    }

    50% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(100%, 0);
    }
  }

  @-webkit-keyframes box3 {
    0%,
    50% {
      transform: translate(100%, 100%);
    }

    100% {
      transform: translate(0, 100%);
    }
  }

  @keyframes box3 {
    0%,
    50% {
      transform: translate(100%, 100%);
    }

    100% {
      transform: translate(0, 100%);
    }
  }

  @-webkit-keyframes box4 {
    0% {
      transform: translate(200%, 0);
    }

    50% {
      transform: translate(200%, 100%);
    }

    100% {
      transform: translate(100%, 100%);
    }
  }

  @keyframes box4 {
    0% {
      transform: translate(200%, 0);
    }

    50% {
      transform: translate(200%, 100%);
    }

    100% {
      transform: translate(100%, 100%);
    }
  }
}

